#leftPane {
    -fx-background-color: #CB4335;
}

#searchByLineButton {
    -fx-background-color: #CD6155;
    -fx-text-alignment: center;
}

#searchByStopButton {
    -fx-background-color: #CD6155;
    -fx-text-alignment: center;
}

#showCityMapButton {
    -fx-background-color: #CD6155;
    -fx-text-alignment: center;
}

#centerPane {
    -fx-background-color: #E74C3C;
}

#bottomPane {
    -fx-background-color: #922B21;
}

#infoLabel {
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
}

#menuItem {

}

#menu {

}