#leftPane {
    -fx-background-color: #cbc835;
}

#searchByLineButton {
    -fx-background-color: #cde655;
    -fx-text-alignment: center;
}

#searchByStopButton {
    -fx-background-color: #cdf055;
    -fx-text-alignment: center;
}

#showCityMapButton {
    -fx-background-color: #cdf055;
    -fx-text-alignment: center;
}

#centerPane {
    -fx-background-color: #e7dc3c;
}

#bottomPane {
    -fx-background-color: #92b421;
}

#infoLabel {
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
}

#menuItem {

}

#menu {

}

.list-view .list-cell:even {
    -fx-background-color: #cdf055;
    -fx-text-fill: black;
}
.list-view .list-cell:odd {
    -fx-background-color: #cdf055;
    -fx-text-fill: black;
}

.list-view .list-cell:even {
    -fx-background-color: #cdf055;
    -fx-text-fill: black;
}
.list-view .list-cell:odd {
    -fx-background-color: #cdf055;
    -fx-text-fill: black;
}

.list-view .list-cell:selected {
    -fx-background-color: #99ba48;
    -fx-text-fill: black;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #7e8630;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #242424;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ddea51;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #afbc46;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}